{% extends 'base_layout.html' %}

{% block content %}

<div class="article-detail">
	<div class="article">
		<h2>{{ article.title }}</h2>
		<p>{{ article.body }}</p>
		<p>Published On: <strong>{{ article.date }}</strong></p>
		<p>Added By <strong>{{ article.author }}</strong></p>
		{% if user.is_authenticated and article.author_id == user.pk %}
			<a id="update-article" href="{% url 'articles:update' article.id %}">Update</a>
			<a id="delete-article" onclick="confirmDelete()" href="{% url 'articles:delete' article.id %}">Delete</a>
		{% endif %}
	</div>
</div>

<script type="text/javascript">
	function confirmDelete() {
		if (confirm("Are you sure you want to delete this article?")) {
			return true;
		}
		else {
			return false;
		}
	}
</script>
{% endblock %}